flask
flask_sqlalchemy
flask-cors
authlib
python-dotenv
python-jose
six
alembic
flask_cors
sqlalchemy
requests
psycopg2-binary
black
isort
coinbase
pytest-flask
pytest
pytest-cov
http.client
flask-jwt-extended